{
    "extends": "eslint:recommended",
    "env": {
        "es6": true,
        // "node": true, @todo: enable this once I've dealt with all console.log's.ß
        "amd": true,
        "jasmine": true,
        "mocha": true
    }
}